<div>

  <h1>Lista de Todos los productos agregados hasta el momento</h1>

  <div id="products"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>